.container{
    margin: auto;
    text-align: center;
    width: 70%;
}
.dice{
    margin: 0px 80px;
    display: inline-block;
}
body{
    background-color: #cc52d2;
    font-family: 'Lobster', cursive;
    color: beige;
}
h1{
    font-size: 5rem;
    text-shadow: 5px 0 #232931;
}
h3{
    font-size: 2rem;
}
img {
    width: 80%;
  }